<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'users/style2.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
<div class="wrapper">
    <div class="title-text">
      <div class="title login">Login Form</div>
    </div>
      <div class="form-inner">
        <form method="POST" class="login">\
             {{ form.non_field_errors }}
          <div class="field">
            <label form="{{ form.username.id_for_label }}"></label>
            <input type="text" placeholder="Username" required  {{ form.username }} {{ form.username.errors }}
          </div>
          <div class="field">
           <label form="{{ form.password.id_for_label }}"></label>
            <input type="password" placeholder="Password" required  {{ form.password }} {{ form.password.errors }}
          </div>
          <!-- <div class="pass-link"><a href="#">Forgot password?</a></div> -->
            {% csrf_token%}
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Login">
          </div>
          <div class="signup-link">Not a member? <a href="signup.html">Signup now</a></div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>